@use './utility'  as *;

.titleTaglineContainer{

    @include displayFlexCol;
    // justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 8vh;

    .title{
        font-weight: 600;
        font-size: 38.1px;
        letter-spacing: 1%;
    }

    .subTitle{

        margin-top: 2vh;
        font-size: 19.05px;
        letter-spacing: 1%;

    }

}