@use "./utility" as *;

#loaderOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#loaderContainer {
    @include displayFlexCol;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    z-index: 4;
    width: 830px;
    height: 526px;
    border-radius: 30px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
