@use "./utility" as *;

.uploadContainer {
    @include displayFlexCol;

    // background-color: #fff;
    background: radial-gradient(528.03% 134.6% at 100% -6.62%, #ffffff 0%, rgba(255, 255, 255, 0.07) 100%);

    background-blend-mode: overlay;
    // background: rgba(255, 33, 33, 1);

    border: 2px solid rgba(255, 255, 255, 0.5);

    width: 28vw;
    height: 22.798vw;
    // height: 25vw;

    border-radius: 1vw;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0px 0px 16px -14px;


    input[type="file"] {
        display: none;
    }

    .previewGif {
        width:  23.727vw;
        height: 9.606vw;
        overflow: scroll;
        &:hover{
            overflow: visible
        }
        z-index: 3
    }

    .uploadTitle {
        @include displayFlex;
        justify-content: center;
        opacity: 1;
        font-size: 1.821vw;
        font-weight: 600;
        line-height: 2.731vw;
        letter-spacing: 0.01em;
        text-align: center;
        line-height: 1
    }

    .uploadGround {
        @include displayFlex;
        cursor: pointer;
        align-items: center;
        padding: 1.759vw 6.829vw;
        background-color: rgb(255, 255, 255);
        border-radius: 1.138vw        ;
        border: 2px solid rgba(0, 101, 255, 0.16);
        border-style: dotted;
        .uploadIcon {
            @include displayFlex;
            width: 3.728vw;
            height: 3.728vw;
        }
    }

    .videoToGifIndicatorContainer {
        @include displayFlexRow;
        align-items: center;
        .videoIconText {
            @include displayFlexRow;

            background-color: rgb(255, 255, 255);

            padding-left: 0.759vw;
            // padding-right: 4.3vw;
            border-radius: 0.759vw;

            border: 1.5px solid;

            border-color: #0691f1;

            align-items: center;

            width: 8.924vw;
            height: 3.15vw;
            z-index: 2;

            .icon {
                width: 1.365vw;
                height: 1.365vw;
            }

            .text {
                margin-left: 0.525vw;
                // font-size: 20px;
                font-size: 1.05vw;
                font-weight: 500;
                line-height: 1.26vw;
                letter-spacing: 0em;
                text-align: center;
            }
        }
        .timeInputContainer {
            @include displayFlexRow;

            background-color: rgb(255, 255, 255);

            padding-left: 0.759vw;
            // padding-right: 4.3vw;
            border-radius: 0.759vw;

            border: 1.5px solid;

            border-color: #0691f1;

            align-items: center;

            width: 8.924vw;
            height: 3.15vw;
            z-index: 2;

            .secIndicator {
                width: 1.365vw;
                height: 1.365vw;
            }

            .timeInput {
                margin-left: 0.525vw;
                // font-size: 20px;
                font-size: 1.05vw;
                font-weight: 500;
                line-height: 1.26vw;
                letter-spacing: 0em;
                text-align: center;
            }
        }

        

        .arrowImg {
            width: 2.1vw;
            padding: 0px 1.05vw            ;
        }
    }

    .videoDetailsCard {
        width: 23.727vw;
        height: 4.199vw;
        border: 0.5px;
        border: 0.5px solid rgba(185, 212, 255, 1);
        border-radius: 0.525vw;        
        @include displayFlexRow;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        overflow: hidden;

        .iconFileDetailsContainer {
            @include displayFlexRow;
            align-items: center;

            .videoDetailsIcon {
                height: 1.365vw;
                width: 1.365vw;
                margin-left: 1.05vw;
            }
            .fileNameDateContainer {
                margin-left: 1.05vw;
                @include displayFlexCol;

                .fileName {
                    font-size: 1.05vw;
                    margin-bottom: 0.157vw;
                }
                .dateTimeSize {
                    color: rgba(4, 93, 233, 1);
                    font-size: 0.735vw;
                }
            }
        }

        .closeIcon {
            height: 1.365vw;
            width: 1.365vw;
            // margin-right: 15px;
        }
    }

    .convertNowBtn {
        // background-color: #4caf50;
        border: none;
        color: white;
        padding: 0.787vw 3.15vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.84vw;
        margin: 0.21vw 0.105px;
        cursor: pointer;
        background: linear-gradient(91.56deg, #045de9 9.33%, #09c6f9 187.58%);
        // background: linear-gradient(91.56deg, #FF0000 9.33%, #f69535 187.58%);
        border-radius: 0.525vw;
        font-size: 1.26vw;
        font-weight: 500;
        line-height: 1.522vw;
        letter-spacing: 0em;
        text-align: center;
    }

    .cancelBtn{
       
            // background-color: #4caf50;
            border: none;
            color: white;
            padding: 0.787vw 3.15vw;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 0.84vw;
            margin: 0.21vw 0.105px;
            cursor: pointer;
            // background: linear-gradient(91.56deg, #045de9 9.33%, #09c6f9 187.58%);
            background: linear-gradient(91.56deg, #FF0000 9.33%, #f69535 187.58%);
            border-radius: 0.525vw;
            font-size: 1.26vw;
            font-weight: 500;
            line-height: 1.522vw;
            letter-spacing: 0em;
            text-align: center;
        
    }


    .progressBarContainer{
        // background-color: red;
        width: 85.4%;
        @include displayFlexRow;
        align-items: center;
        justify-content: space-between;

        .progressBar{

            width: 80%;
            accent-color: #045de9;

        }

        .progressValue{
                font-size: 1.2vw
        }
    }
}
